#about-info {
    & .info-right {
        float: right;
        width: 50%;
        min-height: 100%;

        & img {
            display: block;
            margin: auto;
            width: 70%;
            min-width: 300px;
            min-height: 300px;
            border-radius: 50%;
        }
    }

    & .info-left {
        float: left;
        width: 50%;
        min-height: 100%;
    }

    @media screen and (width <=600px) {
        text-align: center;

        & .info-right,
        & .info-left {
            width: 100%;
        }

        & .info-right {
            float: none;
        }
    }
}