.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;

    & i {
        margin-bottom: 10px;
    }

    @media screen and (width <=600px) {
        width: 100%;
        float: none;
    }
}