#navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    overflow: auto;

    & a {
        color: var(--secondary-color);
    }

    & h1 {
        float: left;
        padding-top: 20px;
        padding-bottom: 0;
    }

    & ul {
        float: right;
        margin: 0;

        & li {
            float: left;
            margin: 0;

            & a {
                display: block;
                padding: 20px;
                text-align: center;

                &:hover,
                &.current {
                    background: #444;
                    color: var(--tertiary-color);
                }
            }
        }
    }
}