/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: var(--tertiary-color);
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: var(--primary-color);
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

& .btn:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    transition: background 0.6s ease;
}

& .btn-light {
    background: var(--secondary-color);
    color: var(--primary-color);
}



.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 40px;
}

/* Padding */
.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}